@import "/src/app/styles/variabels/vars";

.burger {
	display: none;

	svg {
		width: 20px;
		height: 20px;
		color: white;
		cursor: pointer;
	}

	@media ($mobile) {
		display: block;
	}
}

.menu {
	position: fixed;
	left: 0;
	top: 44px;
	z-index: 1;
	overflow: hidden;
	padding-left: 20px;
	width: 100%;
	color: white;
	background-color: var(--color-border);
	transition: ease-in-out 0.5s;

	ul {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	li {
		width: max-content;
		cursor: pointer;
	}

	a {
		color: white;
	}
}

.open {
	height: 13%;
}

.close {
	height: 0;
}
