:root {
  --bg-primary-color: #e7717d;
  --bg-secondary-color: #e9e9e9;
  --text-primary-color: white;
  --text-secondary-color: black;
  --color-border: #1e2025;
  --color-text: #29343d;
  --color-text-hover: #3c5665;
  --color-shadow: #5a7480;
  --color-label: #92a4b1;
  --color-error: rgb(255, 150, 150);
}
