@import "/src/app/styles/variabels/vars";

.contact {
	display: inline-block;
	border: $border;
	border-radius: 20px;
	padding: 10px;
	color: var(--color-text);
	transition: ease-in-out 0.5s;
	cursor: pointer;

	&:hover {
		box-shadow: 20px -15px 10px 5px var(--color-shadow);
		transform: translate(-10px, 10px);
	}
}
