@import "/src/app/styles/variabels/vars.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: var(--color-text);
  .logo {
    color: var(--color-text-hover);

    @media ($mobile) {
      display: none;
    }
  }
  @media ($mobile) {
    justify-content: end;
    background-color: var(--color-border);
  }
}

.nav {
  ul {
    display: flex;
    align-items: center;
    li {
      padding: 20px;
      transition: all 0.5s;
      list-style-type: none;
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 15px var(--color-shadow);
        color: var(--color-text-hover);
      }
    }
  }
  @media ($mobile) {
    display: none;
  }
}
