@use "/src/app/styles/variabels/mixins.scss";

.contact {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	&__block {
		display: flex;
		flex-direction: column;
		gap: 20px;

		@include mixins.form;

		span {
			color: var(--color-text);
		}
	}

	&__btn {
		display: flex;
		gap: 10px;

		svg {
			fill: var(--color-border);
		}
	}
}
